{% extends 'base.html.twig' %}

{% block title %}New Song{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Create song</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_song_index') }}"> 
                    View All songs
                </a>
            </div>
            <div class="card-body">
                 {{ include('song/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
